$black: rgb(20, 20, 20);
$white: #ececec;
$accent: rgb(134, 45, 134);

$blackTransparent: rgba(32, 32, 30, .5);

$cGithub: gray;
$cYouTube: #ff0000;
$cTwitter: #1da1f2;
$cBandcamp: #629aa9;
$cItchio: #fa5c5c;