@import '../colors';

.animatedHighlight {
    width: fit-content;
    position: relative;

    h1, h2, h3, h4, h5, h6 {
        position: relative; // Gets the element back on top
    }

    &::before {
        position: absolute;
        bottom: 2px;
        content: '';
        width: 0;
        height: 30%;
        background: $accent;
        opacity: 0;
        overflow: hidden;
        animation: highlight;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0.5s;
        animation-duration: 0.3s;
    }
}

@keyframes highlight {
    to {
        width: 110%;
        opacity: 0.8;
        border-radius: 2px;
    }
}