@import '../../shared/styles/background';
@import '../../shared/styles/shadows';
@import '../../shared/styles/colors';

.GamesPage {
    min-height: 100vh;
    // background-image: $bg-image-circle-gradient;
    background-color: $black;

    padding: 10%;

    h1,
    h2 {
        color: $white;
        padding: 20px 0;
    }

    .games {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .gamePresCard {
        background: $white;
        color: $black;
        border-radius: 8px;
        padding: 20px;
        max-width: 400px;
        box-shadow: $boxShadow;

        h3 {
            padding: 10px 0;
        }
    }

    .btnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.setCards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.unity {
    .container {
        display: flex;
        flex-direction: column;

        .bannerCard {
            display: flex;
            background-color: black;
            height: 100px;
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            color: $white;
            margin: 10px 0;

            padding: 10px;
            border-radius: 10px;
            box-shadow: rgba(255, 255, 255, 0.2) 0px 8px 24px;

            transition: all 0.3s ease;

            h5 {
                font-weight: bold;
                font-size: 18px;
            }

            div:nth-child(1) {
                flex: 2;

                @media (max-width: 600px) {
                    background-color: rgba(3, 3, 3, 0.5);
                    height: fit-content;
                    padding: 3px;
                    border-radius: 8px;
                }
            }

            div:nth-child(2) {
                display: flex;
                justify-content: flex-end;
                align-items: end;
                flex-direction: column;
                flex: 4;
            }

            a {
                text-decoration: none;
                color: $white;
                font-size: 14px;
            }

            &:hover {
                box-shadow: $boxShadow;
                transform: translateY(-3px) scale(1.05);
                // rotateZ(1deg);
            }
        }
    }
}
