.GameGrid {
	display: flex;
	height: 100vh;
	flex-direction: column;

	@media (max-width: 600px) {
	}

	.Sidebar {
		display: flex;
		flex-direction: column;

		h2 {
			font-size: 16px;
		}
	}

	.Grid {
		margin: 5px;
		border-radius: 8px;
		width: 400px;
		height: 440px;
		background-color: white;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 30px;
	}

	.lastSet {
		display: flex;
	}
}
